@import "./dice";

.dice-list {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    padding: 1em;

    .die {
        flex: 0 0 auto;
        margin: 0.5em;

        .dieStyles();
        .dieDimensions(60px);
    }
}
