@width-min: 360px;
@width-max: 600px;
@height-min: 600px;
@height-max: 900px;

html, body {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
#app {
    height: 100%;
    display: flex;
    padding: @padding;
    flex-direction: column;
    flex: 1 1 auto;

    > h1 {
        font-family: genesys-header;
        font-size: 2.5rem;
    }

    > * { flex: 0 0 auto; }
    > .dice-area { flex-grow: 1; }
}

.dice-area {
    display: flex;
    flex-direction: column;

    > * { flex: 0 0 auto; margin: @padding 0 0; }
    > .dice-list { flex-grow: 1; }
}
