@import (inline) "common_reset/common_reset.css";

@import "./dimensions";

html {
    font: normal 16px sans-serif;
}

@import "./layout";
@import "./components/action-buttons";
@import "./components/dice-list";
@import "./components/dice-symbols";
@import "./components/roll-results";

.dark {

    @text: #EEE;

    @background: #222;
    @button: #555;
    @button-active: #888;

    @dice-area: #383838;

    @results-neutral: @dice-area;
    @results-success: #3d5e2f;
    @results-failure: #692422;

    @import "./theming";

}
